<nav>
  <div>
    <%= link_to "Caribbefeast", root_path %>
  </div>
  <ul>
    <%= link_to "Port of Call", destinations_path %>
    <%= link_to "How it works", how_it_works_path %>
    <%= link_to "About", about_path %>
    <%= link_to "Sign in", '#' %>
  </ul>

</nav>