<h1>All meals</h1>

<div>
  <%= link_to "Add new meal", new_meal_path %>
</div>
<br/>

<div>
  <% @meals.each do |meal| %>
    <div>
      Name:
      <%= meal.name %>
    </div>
    <div>
      Description:
      <%= meal.description %>
    </div>
    <div>
      Price:
      <%= meal.price %>
    </div>
    <div>
      <%= link_to "Show", meal_path(meal) %>
      <%= link_to "Edit", edit_meal_path(meal) %>
      <%= link_to "Delete", meal_path(meal), method: :delete, :data => { confirm: "Are you sure? "} %>
    </div><br/>

  <% end %>

</div>