<h1><%= "#{@meal.name.capitalize}" %></h1>

<div>
  <%= link_to "back", destination_path(@destination) %>
</div><br />

<div>
    <div>
      <p>Dish:</p>
      <%= @meal.name %>
    </div>
    <div>
      <p>Description:</p>
      <%= @meal.description %>
    </div>
    <div>
      <p>Price:
      <%= number_to_currency(@meal.price, :precision => 2) %></p>
    </div>
</div>