<h1><%= "#{@meal.name.capitalize}" %></h1>

<div>
  <%= link_to "back", destination_path(@destination) %>
</div><br />

<div>
    <div>
      <%= image_tag(@meal.image) %>
    </div>
    <div>
      <p>Dish:
      <%= @meal.name %></p>
    </div>
    <div>
      <p>Description:
      <%= @meal.description %></p>
    </div>
    <div>
      <p>Price:
      <%= number_to_currency(@meal.price, :precision => 2) %></p>
    </div>
</div>