<h1><%= "Welcome to #{@destination.name.capitalize}" %></h1>

<div>
  <%= link_to "back", destinations_path %>
</div><br />

<div>
    <div>
      <%= image_tag(@destination.image_url, class: 'image_shadow') %>
    </div>
    <div>
      <h3>Port of Call:
      <%= @destination.name.capitalize %></h3>
    </div>
    <div>
      <p>Description:
      <%= @destination.description %></p>
    </div>
</div>

<div>
  <%= link_to "add meal", new_destination_meal_path(@destination) %>
</div>

<div>
  <% @meals.each do |meal| %>
   <div class='dish'>
    <div>
      <%= image_tag(meal.image) %>
    </div>

    <div>
      Name:
      <%= meal.name %>
    </div>
    <div>
      Description:
      <%= truncate(strip_tags(meal.description), length: 60) %>
    </div>
    <div>
      Price:
      <%= number_to_currency(meal.price, :precision => 2) %>
    </div>
    <div>
      <%= link_to "Show", destination_meal_path(@destination, meal) %>
      <%= link_to "Edit", edit_destination_meal_path(@destination, meal) %>
      <%= link_to "Delete", destination_meal_path(@destination, meal), method: :delete, data: { confirm: "Are you sure? "} %>
    </div><br/>
  </div><!-- end dish -->
  <% end %>

</div>



